<% provide(:title, 'Edit car') %>
<% provide(:button_text, 'Save changes') %>
<h1>Update Car Information</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    <div class="gravatar_edit">
   	  <h1>
        <%= @car.model %>
      </h1>
    </div>
  </div>
</div>